:root {
  --bg-color: #f0f2f5;
  --text-color: #2c3e50;
  --nav-bg: #7B1E3A;
  --footer-bg: #7B1E3A;
  --button-bg: #2c3e50;
  --button-text: #ffffff;
  --bg-start: #F5F7FA;
  --bg-mid: #D4AF37;
  --bg-end: #7B1E3A;
}

[data-theme="dark"] {
  --bg-color: #1a252f;
  --text-color: #f0f2f5;
  --nav-bg: #111;
  --footer-bg: #111;
  --button-bg: #d4af37;
  --button-text: #1a252f;
  --bg-start: #1a252f;
  --bg-mid: #2c3e50;
  --bg-end: #000000;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, var(--bg-start), var(--bg-mid), var(--bg-end));
  color: #2C3E50;
}

.theme-toggle {
  position: fixed;
  top: -6px;
  right: 16px;
  z-index: 1000;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.5rem;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg);
  color: var(--text-color);
  padding: 10px 72px;
}

.layout-logo {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.layout-menu {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.layout-menu li a {
  color: white;
  text-decoration: none;
}

.layout-content {
  flex: 1;
  padding: 32px;
}

.layout-footer {
  background-color: var(--footer-bg);
  color: white;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 8px;
}

.layout-social {
  display: flex;
  gap: 8px;
}

